<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" />
    <link rel="stylesheet" href="style.css">
    <title>Amazona</title>
</head>

<body>
    <div class="grid-container">
        <header class="row">
            <div>
                <a class="brand" href="index.html">amazona</a>
            </div>
            <div>
                <a href="cart.html">Cart</a>
                <a href="signin.html">Sign In</a>
            </div>
        </header>

        <main>
            <div class="row center">
                <div class="card">
                    <a href="product.html">
                        <img class="medium" src="./images/all_black.jpg" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.htm">
                            <h2>Black Slim Shirt</h2>
                        </a>
                        <div class="rating">
                            <span>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </span>
                        </div>
                        <div class="price">
                            $120
                        </div>
                    </div>
                </div>

                <div class="card">
                    <a href="product.html">
                        <img class="medium" src="./images/red.jpg" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.htm">
                            <h2>Red Slim Shirt</h2>
                        </a>
                        <div class="rating">
                            <span>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </span>
                        </div>
                        <div class="price">
                            $79
                        </div>
                    </div>
                </div>

                <div class="card">
                    <a href="product.html">
                        <img class="medium" src="./images/all_black.jpg" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.htm">
                            <h2>Black Slim Shirt</h2>
                        </a>
                        <div class="rating">
                            <span>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </span>
                        </div>
                        <div class="price">
                            $150
                        </div>
                    </div>
                </div>

                <div class="card">
                    <a href="product.html">
                        <img class="medium" src="./images/red.jpg" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.htm">
                            <h2>Red Slim Shirt</h2>
                        </a>
                        <div class="rating">
                            <span>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </span>
                        </div>
                        <div class="price">
                            $115
                        </div>
                    </div>
                </div>

                <div class="card">
                    <a href="product.html">
                        <img class="medium" src="./images/all_black.jpg" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.htm">
                            <h2>Black Slim Shirt</h2>
                        </a>
                        <div class="rating">
                            <span>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </span>
                        </div>
                        <div class="price">
                            $69
                        </div>
                    </div>
                </div>

                <div class="card">
                    <a href="product.html">
                        <img class="medium" src="./images/red.jpg" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.htm">
                            <h2>Red Slim Shirt</h2>
                        </a>
                        <div class="rating">
                            <span>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </span>
                        </div>
                        <div class="price">
                            $85
                        </div>
                    </div>
                </div>

            </div>
        </main>

        <footer class="row center">All Right Reserved</footer>
    </div>
</body>

</html>